<head>
    <title>Server: Flounder</title>
</head>

<body class="container">
    <div class="banner">Flounder Remote Server Interface: beta v0.1.0</div>
    <div class="info"></div>
    <div class="job-bar"></div>
    <div class="main"></div>
    <div class="terminal">
        <div class="terminal-output"></div>
        <textarea id="terminal-input-area"></textarea>
        <button id="terminal-input-submit">Submit</button>
    </div>
    <div class="footer"></div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</body>